# Ordinal Categories Transformation

In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('customer.csv')

In [19]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

### Using sklearn OrdinalEncoder

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oe = OrdinalEncoder(categories=[['Poor','Good','Average'],['School','UG','PG']],dtype =np.int32)

In [6]:
from sklearn.model_selection import train_test_split

In [20]:
 X_train, X_test, y_train, y_test = train_test_split(df.drop('purchased',axis = 1), df['purchased'], test_size=0.3, random_state=42)

In [21]:
oe.fit(X_train[['review','education']])

OrdinalEncoder(categories=[['Poor', 'Good', 'Average'], ['School', 'UG', 'PG']],
               dtype=<class 'numpy.int32'>)

In [22]:
X_train[['review','education']] = oe.transform(X_train[['review','education']])

In [23]:
X_train.head()

    age  gender  review  education
6    18    Male       1          0
41   23    Male       1          2
46   64  Female       0          2
47   38  Female       1          2
15   75    Male       0          1

In [24]:
X_test[['review','education']] = oe.transform(X_test[['review','education']])

In [25]:
X_test.head()

    age  gender  review  education
13   57  Female       2          0
39   76    Male       0          2
30   73    Male       2          1
45   61    Male       0          2
17   22  Female       0          1

In [ ]:
### Using label Encoder on Target variable (suggested)

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [29]:
y_train.head()

6      No
41    Yes
46     No
47    Yes
15     No
Name: purchased, dtype: object

In [30]:
le.fit(y_train)

LabelEncoder()

In [31]:
y_train = le.transform(y_train)

In [35]:
y_test = le.transform(y_test)